[Unit]
Description=Screencloud Router API service
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill router-api
ExecStartPre=-/usr/bin/docker rm router-api
ExecStart=/usr/bin/docker run --name router-api -p 8080:5000 -e CONFD_BACKEND=etcd screencloud/router-api
ExecStop=/usr/bin/docker stop router-api
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
